.mainContacto{
    padding: 0 20%;

    .form-label{
        color: $colorletras;
        margin-top: 30px;
    }

    .form-control{
        background-color: $color-input;
    }
}

@media (min-width:720px){
    .mainContacto{
        padding: 0 30%;
    }
 }