
.footer{
    padding-left: 30%;
    padding-right: 30%;
    border-top: 1px solid white;
    
    a{
        display: flex;
        justify-content: center;  
        margin-top: 30px;
    }

    img{
        width: 80%;
    }
}  

@media (min-width:700px){

    .footer{
        img{
        width: 30%;
        }
    }
 }