*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;    
}


//VARIABLES
$colorpimario:#0DCAF0;
$coloroverlay: #0dcaf0bb;
$color-input:rgba(255, 255, 255, 0.288);;
$colorletras: rgba(0, 0, 0, 0.788);
$color-borde:rgba(255, 255, 255, 0.219);
$color-borde-hover: rgb(255, 255, 255);


body{
    background-color: $colorpimario;
}