        
.carrusel{
    padding-left: 10%;
    padding-right: 10% ;
}

h1{
    text-align: center;
    margin-top: 30px;
}

.homeproduct{
    padding-left: 7%;
    padding-right: 7% ;
    a{
        justify-content: center;
    }

    img{
        width: 100%;
    }

    .pincho{
        margin: auto;
    }
}

.homeenvios{
    display: flex;
    justify-content: center;

    img{
        width: 60%;
    }

}  
 
.boton{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

// desktop

@media (min-width:992px){
    
    .btn{
        font-size: 30px;
        padding-top: 10px;
    }
}