.carrusel{
      padding: 0px 10%;
    }


.homeproduct{
   padding: 10%;
   padding-top: 0;
   margin: 0;
   padding-bottom: 0;

    .col{
        padding: 0;
        display: flex;
        justify-content: center;

        img{
            width: 100%;
        }
        }
    }  

.homeenvios{
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
 
     .col{
         padding: 0;
         display: flex;
         justify-content: center;
 
         img{
             width: 100%;
         }
         }
     }  
 
     .boton{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
     }