 
.carrusel{
    padding-left: 10%;
    padding-right: 10% ;
}

h1{
    text-align: center;
    margin: 10% auto 0 auto;
    color: white; 
    }

.homeProduct{
    margin: 20px 0 27px;
    padding: 0 10%;

    a{
        display: flex;
        justify-content: center;
        padding: 0;
    }


    img{
        width: 100%; 
        position: block;
    }
    @media (min-width:540px){
        a:hover {
            transition-duration: 1s;
            transform:scale(1.2);
            overflow:hidden;
            

        }
     }
}

.homeEnvios{
    display: flex;
    justify-content: center;
    margin-top: 10%;

    img{
        width: 60%;
    }
}  
 
.boton{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.postIg{
    margin: 30px 20px 10px 20px;
    
    p, a{
        font-size: 5vw ;
        text-align: center;
        color: white;
        padding-top: 10px;
        text-decoration: none;
    }

    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:20px;

        .instagram-media{
            width: 200px !important;
        }
    }

    @media (max-width:540px){
        .instagram-media:not(:first-child){
            display: none !important;
        }
     }
}






