
.logo{

    display: flex;
    justify-content: center;
    

    img{
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.navbar{
    text-align: center;

    .container-fluid{
        justify-content: center;
    }

    .navbar-collapse{
        justify-content: center;
    }

    .nav-link{
        font-size: 20px;
    }
}

//DESKTOP

@media (min-width:992px){
    .logo{

        img{
            width: 150px;
        }
    }

    .navbar{  
        .nav-link{
            font-size: 25px;
            margin: 20px;
        }
    }
}