
.logo{
    a{
    display: flex;
    justify-content: center;
    }

    img{
        width: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.navbar{
    text-align: center;

    .container-fluid{
        justify-content: center;
    }

    .navbar-collapse{
        justify-content: center;
    }

    .nav-link{
        font-size: 15px;

    }

}