.mainNosotros{
    .carousel-inner{
        padding: 20px;
        height: 25vh;
    }

    .opiniones{
        justify-content: center;
        margin-bottom: 20px;
        gap:5px;
    }

 
}








.contenidonosotros{
    h4{
        text-align: center;
        margin-top: 40px;
    }
}



