.mainNosotros{
    .carousel-inner{
        padding: 20px;

       }

    .tituloOpiniones{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
    .opiniones{
        justify-content: center;
        margin-bottom: 20px;
        gap:5px;
    }

    @extend %estiloTexto;

 
}










