.sectionProductos{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;

    .card{
        margin-top: 5%;
    }

    img{
        border: 1px solid $color-borde;
        border-radius: 5px;
    }
}


